* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar {
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    background: #3f4c6b;
    color: #fff;
    border-top: 2px solid #fff;
}
.icons i{
    font-size: 30px;
    padding: 10px;
    /* margin-left: 50px; */
}
.inp {
    margin-left: 500px;
    border: 1px solid black;
    font-size: 20px;
}
.icons i:hover {
    color: #0ef;
}
nav {
    background: #3f4c6b;
}
nav:after {
    content: '';
    clear: both;
    display: table;
}
nav .logo {
    float: left;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 50px;
}
nav ul {
    float: right;
    list-style: none;
    position: relative;
    margin-right: 40px;
}
nav ul li {
    float: left;
    display: inline-block;
    background: #3f4c6b;
    margin: 0 5px;
}
nav ul li a:hover {
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    border-radius: 5px;
    color: cyan;
}
nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 5px 10px;
    align-items: center;
}
nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul {
    border-top: none;
}
nav ul li:hover > ul {
    opacity: 1;
    top: 40px;
    visibility: visible;
}
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0,0.3);
}
nav ul ul li a {
    line-height: 50px;
}
nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}
span .fa-plus {
    margin-left: 40px;
    font-size: 15px;
}
.fluid-container {
    display: flex;
    background-color: black;
    color: cyan;
    padding: 50px;
}
.parent-container h3{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 20px;
}
.parent-container h1 {
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
}
.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}
.btn-box a.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: black;
    color: cyan;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow:  cyan;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid  cyan;
}
a.btn:hover {
    color: black;
    background: cyan;
    border: 2px solid cyan;
}
.cry {
    width: 500px;
    height: 300px;
}
/* <!--bracelt--> */
.braclet-container {
    display: flex;
}
.Bracelet {
    margin: 10px;
    padding: 10px;
}
.Bracelet h3{
   font-size: 16px;
   font-weight: 500;
}
.Bracelet span {
    font-size: 20px;
    font-weight: bold;
}
/* ------------------------------crystal--------------------------------------------- */
.heading {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
    background: #030728;
    color: #33ffff;
    padding: 15px;
}
.heading:hover {
    background-color: #030728;
    color: white;
}
.crystals{
    background: #030728;
    display: flex;
    width: 1300px;
}
.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
    /* width: 100%; */
}
.swiper-wrapper1 {
    display: flex;
}
.swiper-wrapper2 {
    display: flex;
}
 .card-item {
    color: #fff;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    transition: transform 0.3s ease;
    margin: 20px;
}
.user-name {
    font-size: 20px;
}
.card-item:hover {
    transform: scale(1.05); 
}
.card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
    object-fit: cover;
}
.card-item .user-pro {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}
.card-item .message-button {
    font-size: 20px;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

/* <!----------------contact section--> */
.contact-section {
    background: #081b29;
}
.contact-bg {
    height: 40vh;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    margin-top: 30px;
    padding: 20px;
}
.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div {
    margin:  0 0.2rem;
}
.line div:nth-child(1), .line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #33ffff;
    border-radius: 5px;
}
.line {
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #33ffff;
    border-radius: 50%;
}
.text {
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text {
    margin: 1.6rem 0;
}
.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
    background: #030728;
    color: #fff;
}
.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span {
    display: block;
}
.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span i {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #33ffff;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text {
    padding-top: 0.4rem;
}
.send-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #33ffff;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-bottom: 10px;
}
.send-btn:hover {
    opacity: 0.8;
}
.contact-form > div img {
    width: 75%;
}
.contact-form > div {
    margin: 0 auto;
    text-align: center;
}
.contact-footer {
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: center;
}
.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem 0;
    transition: all 0.4s ease;
    margin: 10px;
}
.social-links a:hover {
    background: linear-gradient(#0ef, #0ef);
    border-color: #33ffff;
    color: #fff;
}
@media screen and (min-width: 768px){
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 992px) {
     .contact-bg .text {
        width: 50%;
     }    
     .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}
.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
}
.wrapper-contact {
    position: relative;
    width: 850px;
    height: 450px;
    background: transparent;
    overflow: hidden;
    box-shadow: 0 0 25px #0ef;
    border: 2px solid #0ef;
    padding: 30px;
}
.wrapper-contact.form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}
  .wrapper-contact.form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
    margin-left: 50px;
}
.wrapper-contact.form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}
.wrapper-contact.active.form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}
.wrapper-contact .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
}
.wrapper-contact .form-box.register .animation {
    transform: translateX(120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--j));
}
.wrapper-contact.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--j));
} 
.form-box h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.form-box .input-box {
    position: relative;
    width: 40%;
    height: 50px;
    margin: 25px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    transition: .5s;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.input-box input:focus, .input-box input:valid {
    border-bottom-color: #0ef;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
    color: #0ef;
}
.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
}
.input-box input:focus~i, .input-box input:valid~i {
      color: #0ef;
}
.btn {
    position: relative;
    width: 50%;
    height: 45px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}
.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300%;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
}
.btn:hover::before {
    top: 0;
}
.form-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}
.logreg-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.logreg-link p a:hover {
    text-decoration: underline;
}
.info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-contact .info-text.login {
    right: 0;
    text-align: right;
    /* padding: 0 10px 10px 10px; */
    padding: 0 40px 60px 150px;
}
.wrapper-contact .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}
.info-text h2 {
    font-size: 30px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}
.info-text p {
    font-size: 14px;
    color: #fff;
}
 .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    transform: rotate(13deg) skewY(45deg);
    transform-origin: bottom right;
    border-bottom: 3px solid #0ef;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}
.wrapper-contact.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}
 .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #0ef;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
} 
.wrapper-contact.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition: 1.2s;
} 
/* <!------------------------------------footer-section--------------------------> */
.footer-area {
    margin-top: 10px;
    /* padding: 100px 0; */
    padding: 50px 0;
    background: #081b29;
    color: #0ef;
position: relative;
}
/* .footer-wave-box {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
}
.footer-wave {
    background-image: url('./wave2.jpg');
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    border-radius: 30px;
    width: 100%;
    height: 300px;
    background-position: bottom;
    background-repeat: repeat-x;
    
}
.footer-animation {
    animation: footer_wave 5s linear infinite;
    left: auto;
    right: 0;
}
@keyframes footer_wave {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(50%);
    }
} */
.main {
    width: 1300px;
    margin: 0 auto;
}
.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.single-footer {
    width: 280px;
}
.single-footer:first-child {
    width: 300px;
}
.single-footer h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.footer-social {
    margin-top: 20px;
}
.footer-social a{
    color: #333;
    border: 1px solid #333;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    color: #0ef;
    background:#081b29;
}
.footer-social a:hover {
    background: #0ef;
    color: #081b29;
}
.single-footer ul {
    list-style: none;
}
.single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
.single-footer ul li a {
    color: #fff;
    text-decoration: none;
}
.single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}
.copy {
    text-align: center;
    text-transform: capitalize;
    margin-top: 40px;
}
/* <!-----------------------------------contact us----------------------------------> */

/* <!--------product section---------------------------> */
